@page "/localStorage"

@inherits LocalStorageBase;

<PageTitle>Local Storage</PageTitle>

<h1>Local Storage</h1>
<h3>Espace de stockage persistant et accessible à toutes les sessions (onglet ouvert) du navigateur.</h3>

<p>Le compteur vaut : @LocalCounter</p>

<button @onclick="btnIncrementeEvent">Incrémente</button>