@page "/localStorage"

@inherits LocalStorageBase;

<PageTitle>Local Storage</PageTitle>

<h1>Local Storage</h1>

<p>Le compteur vaut : @LocalCounter</p>

<button @onclick="btnIncrementeEvent">Incrémente</button>