@page "/sessionStorage"

@inherits SessionStorageBase;

<PageTitle>Session Storage</PageTitle>

<h1>Session Storage</h1>
<h3>Espace de stockage uniquement par session (onglet ouvert) et ne persiste que durant la session.</h3>

<p>Le compteur vaut : @SessionCounter</p>

<button @onclick="btnIncrementeEvent">Incrémente</button>