@page "/sessionStorage"

@inherits SessionStorageBase;

<PageTitle>Session Storage</PageTitle>

<h1>Session Storage</h1>

<p>Le compteur vaut : @SessionCounter</p>

<button @onclick="btnIncrementeEvent">Incrémente</button>